process {
    conda = 'bioconda::anndata conda-forge::pandas conda-forge::numpy conda-forge::scipy conda-forge::pyarrow conda-forge::h5py'
    memory = '64 GB'
    cpus = 4
}

params {
    outdir = 's3://r6333-pep-nppc-oi-bmn333-dev/gwas_testing_nwk/Gene_Editing/replogle_nadig/observed_expression'
}
